:root{
  font-size: 16px;
  font-family: 'Open Sans';
  --transition-speed: 600ms;
}

body{
  margin: 0;
  padding: 0;
  background: white;
  color: black;
}

main{
  margin-left: 5rem;
  padding: 1rem;
}

main h1 {
  margin: 0;
  margin-bottom: 2rem;
}

.navbar{
  position: fixed;
  background-color: #242424;
  transition: width 200ms ease;
}

.navbar:hover .logo .nav-link{
    filter: grayscale(0%) opacity(1);
}



.navbar-nav{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item{
  width: 100%;
}

.nav-link{
  display: flex;
  align-items: center;
  height: 5rem;
  text-decoration: none;
  color: #fdff00;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover{
  filter: grayscale(0%) opacity(1);
  background-color: #282e3c;
}

.nav-text{
  display: none;
  margin-left: 1rem;
}

.nav-link svg{
  min-width: 2rem;
  max-height: 2rem;
  margin: 0 1.5rem;
}

.logo{
  font-weight: bold;
  text-transform: uppercase;
  background-color: #282e3c;
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
  display: flex;
  justify-content: center;
}

.logo svg{
  transform: rotate(0deg);
  transition: transform var(--transition-speed);
}

.navbar:hover .logo svg{
  transform: rotate(-180deg);
}

@media only screen and (max-width:600px){
  .navbar{
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }
  .logo{
    display: none;
  }
  .navbar-nav{
    flex-direction: row;
  }
  .nav-link{
    justify-content: center;
  }
  main {
    margin: 0;
  }
}

@media only screen and (min-width:600px){
  .navbar{
    top: 0;
    width: 5rem;
    height: 100vh;
  }
  .navbar:hover{
    width: 16rem;
  }
  .navbar:hover .nav-text{
    display: inline;
    transition: opacity var(--transition-speed);
  }
}